* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@font-face {
  font-family: BarlowCondensed;
  src: url(../assets/Barlow_Condensed/BarlowCondensed-Regular.ttf);
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  font-family: BarlowCondensed;
  font-size: 2rem;
  color: #0b4bac;
  background-image: url("../imagenes/curvas.jpg");
  background-size: cover; }

.logoimg {
  border-radius: 20px;
  border: 1px solid gray;
  opacity: 0.9;
  animation: agrandalogo 0.5s ease-in 0s 1 forwards; }

@keyframes agrandalogo {
  from {
    width: 5vw;
    height: 5vh;
    border-radius: 50%; }
  to {
    width: 90px;
    height: 90px;
    border-radius: 20px; } }

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  color: #0b4bac; }

h2 {
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
  color: #0b4bac; }

h3 {
  font-size: 1.6em;
  font-weight: 600;
  color: #0b4bac; }

h4 {
  font-size: 1.2em;
  color: #0b4bac; }

h5 {
  font-size: 1.1em; }

p {
  text-align: start; }

a {
  text-decoration: none; }

a :hover {
  color: #3225e9; }

.main__index {
  display: flex;
  flex-direction: column;
  align-items: center; }

.indexImg {
  animation: agrandaIndexImg 0.5s ease-in 0s 1 forwards; }

@keyframes agrandaIndexImg {
  from {
    width: 35vw;
    height: 35vh;
    border-radius: 50%; }
  to {
    width: 70vw;
    height: 70vh;
    border-radius: 20px; } }

.esqueleto-colores {
  margin-top: 10px;
  border-radius: 20px;
  border: 2px solid #3f3c4b;
  box-shadow: 6px 5px 3px #585858; }

.quienSoy {
  display: flex;
  align-items: center; }
  .quienSoy__desc {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 5px;
    padding: 20px;
    border-radius: 20px; }

.estudios ul {
  list-style-type: none; }

.cargos ul {
  list-style-type: none; }

.picture-objetivo {
  display: flex; }

.sergioPic {
  width: 30vw;
  height: 75vh;
  margin: 5px;
  box-shadow: 6px 5px 3px #585858;
  animation: agrandasergio 0.5s ease-in 0s 1 forwards; }

.vision {
  width: 20vw;
  font-weight: bold;
  color: #cf31c7; }

@keyframes agrandasergio {
  from {
    width: 15vw;
    height: 50vh;
    border-radius: 30%; }
  to {
    border-radius: 20px;
    border: 1px solid gray; } }

.servicios__titulo {
  text-align: center;
  width: 40vw;
  border-radius: 20px;
  margin: 20px auto;
  font-size: 4rem;
  animation: titVideosani 1.1s ease-in-out 0.1s infinite alternate forwards; }

.servicios__contenedor--list {
  list-style-type: none; }

.tecnicas {
  list-style-type: none; }

.rehaTraulist {
  list-style-type: none; }

.lesionMuscli {
  list-style-type: none; }

.reedPostlist li {
  list-style-type: none; }

.ejercicios {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ejercicios__titulo {
    width: 40vw;
    border-radius: 20px;
    margin: 20px 200px;
    animation: titVideosani 1.1s ease-in-out 0.1s infinite alternate forwards; }
  .ejercicios__videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    justify-content: space-around; }
    .ejercicios__videos li {
      list-style-type: none;
      margin: 10px;
      padding: 10px;
      display: inline-block;
      text-align: center; }
      .ejercicios__videos li h3 {
        margin-bottom: 10px;
        text-align: center; }
      .ejercicios__videos li iframe {
        width: 20vw;
        height: 40vh;
        border-radius: 20px;
        border: 3px solid gray;
        box-shadow: 6px 5px 3px #585858; }

@keyframes titVideosani {
  from {
    background-image: linear-gradient(#b2b2fa, #0d6efd, #5757f1);
    color: #313135; }
  to {
    background-image: linear-gradient(#0d6efd, #5151f1, #7567dd);
    color: #b0b0e6; } }

.ubicacionMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../imagenes/Contact-us-background.jpg");
  background-size: cover; }

.conyform {
  display: flex;
  justify-content: space-evenly; }
  .conyform__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vw;
    font-size: 2rem;
    margin: 5px;
    padding: 20px; }
    .conyform__contacto a {
      overflow: hidden;
      text-decoration: none;
      height: 50px;
      background-color: #0d6efd;
      border-radius: 10px;
      text-align: center;
      color: white;
      font-size: 2rem;
      box-shadow: 6px 5px 3px #585858;
      margin: 20px;
      scroll-padding-bottom: 20px;
      border: 1px solid black; }
    .conyform__contacto--titulo {
      text-align: center;
      width: 25vw;
      border-radius: 10px;
      background-color: #0d6efd;
      animation: titVideosani 1.1s ease-in-out 0.1s infinite alternate forwards; }
    .conyform__contacto--form {
      text-align: center;
      width: 45vw;
      height: 75vh;
      margin: 5px;
      padding: 20px;
      border-radius: 20px;
      background-color: #0d6efd;
      color: #dbe0f1;
      box-shadow: 6px 5px 3px #585858; }
      .conyform__contacto--form h2 {
        color: #dbe0f1; }
    .conyform__contacto a:active {
      transform: scale(0.9); }
    .conyform__contacto a:hover {
      color: #140666;
      background-color: #7174fc; }

.iconoWapp {
  width: 40px;
  height: 40px; }

.emailImg {
  width: 40px;
  height: 40px;
  margin-top: 2px; }

.msg {
  border-radius: 20px;
  width: 30vw;
  height: 7vh;
  border: 1px solid gray;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  margin: 7px; }

.name {
  border-radius: 20px;
  width: 30vw;
  height: 5vh;
  border: 1px solid gray;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  margin: 7px; }

.mail {
  border-radius: 20px;
  height: 5vh;
  width: 30vw;
  border: 1px solid gray;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  margin: 7px; }

.btn {
  height: 10vh;
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  margin: 7px;
  font-family: 'Barlow Condensed', sans-serif;
  box-shadow: 6px 5px 3px #585858;
  font-size: 1.5rem;
  color: azure;
  width: 20vw;
  background-color: #2b4d81; }
  .btn:hover {
    background-color: #5e67f0; }
  .btn:active {
    transform: scale(0.9); }

.btn2 {
  height: 10vh;
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  margin: 7px;
  font-family: 'Barlow Condensed', sans-serif;
  box-shadow: 6px 5px 3px #585858;
  font-size: 1.5rem;
  color: azure;
  width: 18vh;
  background-color: #e74747; }
  .btn2:hover {
    background-color: #f88a8a; }
  .btn2:active {
    transform: scale(0.9); }

.ubicacion {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  margin: 5px;
  padding: 20px; }
  .ubicacion iframe {
    width: 40vw;
    height: 45vh;
    border: 1px solid black;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 6px 5px 3px #585858; }

@media (max-width: 1440px) {
  .imgServicios img {
    height: 100vh; }
  .sergioPic {
    width: 32vw; } }

@media (max-width: 968px) {
  .imgServicios img {
    height: 95vh; }
  .sergioPic {
    width: 40vw; } }

@keyframes agrandaIndexImg {
  from {
    width: 35vw;
    height: 35vh;
    border-radius: 50%; }
  to {
    width: 65vw;
    height: 80vh;
    border-radius: 20px; } }

@media (max-width: 778px) {
  .quienSoy {
    flex-direction: column;
    align-items: center; }
  .imgServicios img {
    height: 90vh; }
  .picture-objetivo {
    display: flex;
    flex-direction: column; }
  .vision {
    width: 70vw; }
  .sergioPic {
    width: 50vw; }
  .ejercicios__videos {
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between; }
  .ejercicios__videos li iframe {
    width: 25vw; }
  .conyform {
    flex-direction: column; }
  .ubicacion {
    flex-direction: column; } }

/*celular media querie*/
@media (max-width: 737px) {
  @keyframes agrandaIndexImg {
    from {
      width: 35vw;
      height: 35vh;
      border-radius: 50%; }
    to {
      width: 65vw;
      height: 50vh;
      border-radius: 20px; } }
  .sergioPic {
    width: 55vw; }
  .imgServicios img {
    height: 85vh; }
  .ejercicios__videos {
    grid-template-columns: 1fr; }
    .ejercicios__videos li {
      align-items: center; }
      .ejercicios__videos li iframe {
        width: 60vw; }
  .ejercicios__titulo {
    font-size: 30px; }
  .conyform__contacto a {
    overflow: hidden;
    width: 30vw;
    height: 8vh;
    font-size: 1.5rem; }
  .conyform__contacto {
    align-items: center;
    width: 70vw;
    font-size: 1.5rem; }
    .conyform__contacto--titulo {
      font-size: 2em;
      width: 70vw; }
    .conyform__contacto--form {
      width: 70vw;
      height: 65vh; } }

@media (max-width: 468px) {
  @keyframes agrandaIndexImg {
    from {
      width: 35vw;
      height: 35vh;
      border-radius: 50%; }
    to {
      width: 65vw;
      height: 35vh;
      border-radius: 20px; } }
  .sergioPic {
    width: 86vw; }
  .imgServicios img {
    height: 60vh; }
  .ejercicios__titulo {
    font-size: 25px; }
  .iconoWapp {
    width: 40px;
    height: 40px; }
  .emailImg {
    width: 40px;
    height: 40px;
    margin-top: 2px; }
  .iconoWapp {
    width: 25px;
    height: 25px; }
  .btn {
    width: 50vw;
    height: 40px; }
  .btn2 {
    width: 45vw;
    height: 40px; }
  .ubicacion iframe {
    width: 70vw;
    height: 45vh; } }
