.main__index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indexImg {
  animation: agrandaIndexImg 0.5s ease-in 0s 1 forwards;
}
@keyframes agrandaIndexImg {
  from {
    width: 35vw;
    height: 35vh;
    border-radius: 50%;
  }
  to {
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
  }
}

.esqueleto-colores {
  margin-top: 10px;
  border-radius: 20px;
  @extend.borde-sombra;
}
