@media (max-width: 1440px) {
  .imgServicios img {
    height: 100vh;
  }
  .sergioPic {
    width: 32vw;
  }
}

@media (max-width: 968px) {
  .imgServicios img {
    height: 95vh;
  }

  .sergioPic {
    width: 40vw;
  }
}
@keyframes agrandaIndexImg {
  from {
    width: 35vw;
    height: 35vh;
    border-radius: 50%;
  }
  to {
    width: 65vw;
    height: 80vh;
    border-radius: 20px;
  }
}

@media (max-width: 778px) {
  .quienSoy {
    flex-direction: column;
    align-items: center;
  }
  .imgServicios img {
    height: 90vh;
  }
  .picture-objetivo {
    display: flex;
    flex-direction: column;
  }
  .vision {
    width: 70vw;
  }
  .sergioPic {
    width: 55vw;
  }

  .ejercicios__videos {
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
  }

  .ejercicios__videos li iframe {
    width: 25vw;
  }

  .conyform {
    flex-direction: column;
  }
  .ubicacion {
    flex-direction: column;
  }
}

/*celular media querie*/

@media (max-width: 737px) {
  @keyframes agrandaIndexImg {
    from {
      width: 35vw;
      height: 35vh;
      border-radius: 50%;
    }
    to {
      width: 65vw;
      height: 50vh;
      border-radius: 20px;
    }
  }
  .sergioPic {
    width: 55vw;
  }
  .imgServicios img {
    height: 85vh;
  }
  .ejercicios__videos {
    grid-template-columns: 1fr;
    & li {
      align-items: center;
      & iframe {
        width: 60vw;
      }
    }
  }

  .ejercicios__titulo {
    font-size: 30px;
  }
  .conyform__contacto a {
    overflow: hidden;
    width: 30vw;
    height: 8vh;
    font-size: 1.5rem;
  }
}

@media (max-width: 468px) {
  @keyframes agrandalogo {
    from {
      width: 5vw;
      height: 5vh;
      border-radius: 50%;
    }
    to {
      width: 90px;
      height: 90px;
      border-radius: 20px;
    }
  }

  @keyframes agrandaIndexImg {
    from {
      width: 35vw;
      height: 35vh;
      border-radius: 50%;
    }
    to {
      width: 65vw;
      height: 35vh;
      border-radius: 20px;
    }
  }
  .sergioPic {
    width: 65vw;
  }
  .imgServicios img {
    height: 70vh;
  }
  .ejercicios__titulo {
    font-size: 25px;
  }
  .conyform__contacto {
    align-items: center;
    width: 70vw;
    font-size: 1.5rem;
  }

  .conyform__contacto--titulo {
    font-size: 2em;
    width: 70vw;
  }

  .iconoWapp {
    width: 40px;
    height: 40px;
  }
  .emailImg {
    width: 40px;
    height: 40px;
    margin-top: 2px;
  }

  .iconoWapp {
    width: 25px;
    height: 25px;
  }
  .form {
    width: 70vw;
    height: 60vh;
  }
  .btn {
    width: 50vw;
    height: 40px;
  }

  .btn2 {
    width: 45vw;
    height: 40px;
  }
  .ubicacion iframe {
    width: 70vw;
    height: 45vh;
  }
}
