.imgServicios img {
  height: 500px;
}

.servicios__titulo {
  text-align: center;
  width: 40vw;
  border-radius: 20px;
  background-image: linear-gradient(
    rgb(162, 162, 247),
    rgb(9, 9, 255),
    rgb(40, 40, 243),
    rgb(162, 162, 247)
  );
  margin: 20px auto;
  font-size: 4rem;
  animation: titVideosani 1.1s ease-in-out 0.1s infinite alternate forwards;
}

.servicios__contenedor--list {
  list-style-type: none;
}
.tecnicas {
  list-style-type: none;
}
.rehaTraulist {
  list-style-type: none;
}
.lesionMuscli {
  list-style-type: none;
}
.reedPostlist li {
  list-style-type: none;
}
